@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-accent: #0055FF;
}

body {
  font-family: var(--font-sans);
  background-color: #FAFAFA;
  color: #121212;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
